<div class="row">
  <%= form_for @credential do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :username, class: "validate" %>
        <%= f.label :username %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.password_field :username, class: "validate" %>
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <%= f.submit %>
    </div>
  <% end %>
</div>
