<h3>Please Enter your GPS credentials</h3>
<span style="color:red;">Note: Your password is encrypted before save</span>
<div class="row" style="margin-top:5%">
  <%= form_for @credential, method: :post do |f| %>
    <div class="row">
      <div class="input-field col s4 offset-s3">
        <%= f.text_field :username, class: "validate" %>
        <%= f.label :username, class:"active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s3">
        <%= f.password_field :password, class: "validate" %>
        <%= f.label :password, class:"active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s3">
        <%= f.button 'Save Credentials', class: "waves-effect waves-light btn" %>
      </div>
    </div>
  <% end %>
</div>
